extends layout

block content
    h2=message
    h2=tableName
    
    form#list-form
      div#main
        table(table-layout="fixed", width="100%", border="1")
          thead
            tr
              for hdr in Object.keys(events)
                th #{hdr}
          tbody
            if events && events.length > 0
              each row in events
                tr
                  each col in row
                    td #{col}
